@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components{
  
    .btn-primary{
        @apply bg-primery text-white mt-5 font-bold py-2 px-4 rounded
    }
    .form-control{
      @apply  border-2 border-gray-400 mt-5 font-bold py-2 px-4 rounded
    }
}
 html{
  scroll-padding: 80px;
 }
body{
    font-family: "Edu AU VIC WA NT Hand", cursive;
}
.active{
    color:red;
        
}


  

  .typewriter{
    transition: animation 0.9s ease;
    animation: fade 2s infinite;
  }

  .scaled{
    animation: scale 0.3s infinite;
  }
  @keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  @keyframes scale {
    0% {transform: scale(1);}
    100% {transform: scale(1.1);}
  }

